@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
:root {
    --dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}
html, body {
    margin: 0;
    padding: 0;
}
*, * * {
    box-sizing: border-box;
}

body {
    font-size: 0.8125em; /* Default: 13px */
    font-family: 'Manrope', sans-serif;
    background-color: var(--light-grayish-blue);
    min-height: 100vh;
}
main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}

.article-card {
    width: 85vw;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}
    .article-card__image {
        background-image: url('../images/drawers.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 200px;
    }
    .article-card__content {
        padding: 1.5em 2.5em;
    }
        .article-card__title {
            font-size: 1.2em;
            color: var(--dark-grayish-blue);
        }
        .article-card__summary {
            color: var(--desaturated-dark-blue);
            line-height: 1.6em;
            margin-bottom: 3em;
        }
        .article-card__info {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
        }
            .article-card__info > *:nth-child(2) { /* Author and date will take up most of the space. */
                flex-grow: 1;
                padding: 0 1em;
            }
            .article-card__avatar {
                height: 40px;
                width: 40px;
                border-radius: 50%;
            }
            .article-card__author, .article-card__date {
                margin: 0;
                line-height: 1.6em;
            }
            .article-card__author {
                color: var(--dark-grayish-blue);
                font-weight: bold;
            }
            .article-card__date {
                color: var(--grayish-blue);
            }
            .article-card__share {
                background: var(--light-grayish-blue);
                border: none;
                border-radius: 50%;
                padding: 0.75em;
                cursor: pointer;
            }

.share-options {
    background-color: var(--dark-grayish-blue);
    padding: 1.5em 2.5em;
    line-height: 40px; /* To match the height of the info div */
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    position: absolute;
    bottom: 0;
}
    .share-options span {
        text-transform: uppercase;
        letter-spacing: 0.35em;
        color: var(--grayish-blue);
    } 
    .share-options .icons-wrapper {
        flex-grow: 1;
        padding: 0 1em;

        display: flex;
        flex-wrap: nowrap;
        justify-content: start;
        align-items: center;
    }
    .share-options .social-icon {
        border: none;
        background: none;
    }
    .share-options .share-icon {
        background: var(--grayish-blue);
    }

footer {
    text-align: center;
    color: var(--dark-grayish-blue);
}

.hidden {
    display: none;
}